@import "../modules/variables";
@import "../modules/mixins";

//STYLING FIRST SECTION
.home-class{
  height: 100vh;
  background-image: $backgroundMain2-SVG;
  background-color: black;
  background-size: contain;
}
.welcome-text-cnt{
  // border:1px solid brown;
  display: flex;
  flex-direction: column;
  .welcome-text{
    width:100%;
    margin: 26vh auto auto auto;
    // border:1px solid blue;
    p{
      margin: auto auto auto 20px;
      font-size: 6vh;
      font-weight: bold;
      font: $main-font;
      color:white;
    }
    .welcome-btn{
      margin: 18vh auto auto auto;
      background-color: $main-color;
      width:50vw;
      height:10vh;
      display:flex;
      align-items: center;
      justify-content: center;
      border-radius: 10px;
      text-transform: uppercase;
      font-size: 3vh;
      font-weight: bold;
      &:hover{
        background-color: $main-color-hover
      }
    }
  }
  .move-down-cnt{
    width:100%;
    // border:1px solid red;
    .move-down-btn{
      margin: 0px auto 8px auto;
      display:flex;
      justify-content: center;
      align-items: center;
      color:black;
      background-color: white;
      width:50px;
      height:50px;
      border-radius: 30px;
      font-size: 30px;
      font: $main-font;
    }
  }
}

//SECTION 2 BREAKING DIV WITH CURVED LINE

#welcome-encourage-break{
  margin-top: -3px;
  height: 10vh;
  background-image: $break-to-enco-SVG;
  background-size: cover;
}

#encourage-advantage-break{
  margin-bottom: -3px;
  height: 10vh;
  background-position: center;
  background-image: $break-to-adv-SVG;
  background-size: cover;
}

//SECTION 2 STYLING

.encourage-class{
  height: 60vh;
}
#encourage-entry{
  background-image: $backgroundsection2-SVG;
  background-color: white;
  background-size: contain;
  background-attachment: fixed;
}
.encourage-text-cnt{
  width:100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .encourage-text{
    display: flex;
    flex-wrap: wrap;
    margin: auto auto auto 20px;
    font-size: 40px;
    font-weight: bold;
    font: $main-font;
      @for $i from 0 through 3 {
      .moving-numbers#{$i}{
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        text-transform: lowercase;
        color:$main-color;
        font-size: 25px+(15px*$i);
        width:120px;
        height:50px;
        @include animationText(all,0.2s,linear);
      }//moving-numbers
    }//loop for
    .encourage-text-psc{
      margin: auto auto auto 1px;
      display: flex;
      justify-content: center;
      align-items: center;
      // border:1px solid red;
      height:60px;
    }
    .encourage-text-final{
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      background-color: $main-color;
      border-radius: 10px;
      margin-top: 30px;
      // border:3px solid black;
      padding: 5px;
      height:50px;
      text-transform: uppercase;
      font-size: 24px;
    }
}//encourage-text
}//encourage-text-cnt

//SECTION 3 STYLING

.advantage-class{
  height: 120vh;
  background-image: $backgroundMain1-SVG;
  background-color: $main-color;
  background-size: contain;
}

.advantage-cnt{
  border:1px solid blue;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  .advantage-title{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-top: 15px;
    height:10vh;
    width:96%;
    font-size: 3vh;
    text-transform: uppercase;
    font-weight: bold;
    font-style: $main-font;
    background-color: black;
  }
  .advantage-text{
    border:1px solid red;
    margin-bottom: 14px;
    .advantage-point{
      border:1px solid orange;
      height:13vh;
      width:100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      .advantage-text-no{
        display: flex;
        justify-content: center;
        align-items: center;
        color: black;
        background-color: white;
        border-radius:50%;
        margin-top: 2px;
        border:3px solid black;
        padding: 5px;
        height:12vh;
        width:12vh;
        font-size: 40px;
        font-style: $main-font;
      }
      .advantage-text{
        display: flex;
        justify-content: center;
        align-items: center;
        color: black;
        background-color: white;
        border-radius: 10px;
        margin-top: 2px;
        margin-left: 4px;
        border:3px solid black;
        padding: 5px;
        height:12vh;
        width:60vw;
        font-size: 22px;
        font-style: $main-font;
        font-weight: bold;
        text-transform: uppercase;
      }
    }

  }
}

// SECTION 4 BREAKING DIVS
#advantage-chain-break{
  // margin-bottom: -3px;
  height: 6vh;
  @include linearGradientEf(90deg,$main-color,$main-color 30px,#000 30px,#000 90px);
}

.safety-footer-break{
  // margin-bottom: -3px;
  height: 6vh;
  @include linearGradientEf(45deg,$main-color,$main-color 10px,#ffffff 10px,#ffffff 20px);
}

// SECTION 4 STYLING

.chain-class{
  // height: 200vh;
  // background-image: $backgroundsection4-SVG;
  // background-size: contain;
}
#chain-title{
  background-color: black;
  color:white;
  height:15vw;
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;

}
.chain-cnt{
  background-attachment: fixed;
  @include linearGradientEf(90deg,$main-color,$main-color 1px,#ffffff 1px,#ffffff 10px);

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  border: 1px solid green;
  .chain-all-links{
    font-weight: 600;
    color: black;
    width:50vh;
    height: 50vh;
    font-size: 16px;
    background-color: black;
    border: 1px solid red;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 175px;

    .chain-link-titles{
      margin-top: 75px;
      margin-bottom: 0px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      background-color: $main-color;
      font-weight: 600;
      color: white;
      border-radius: 40px;
      height: 9vh;
      width:42vh;
      font-size: 24px;
    }
    .chain-link-texts{
      margin-bottom: 75px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 600;
      color: black;
      font-size: 2.2vh;
      text-align: center;
      width:42vh;
      border-radius: 40px;
      background-color: white;
      // padding: 0.7vh;
    }
  }

  .link{
    height: 12vh;
    width: 100%;
    background-image: $broadBelt-SVG;
    // background-color: $main-color;
    // background-size: contain;
    background-position: center;
  }
}


// SECTION 5 STYLING

.safety-class{
  height: 40vh;
  background-color: black;
}
.safety-cnt{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  border: 1px solid green;
  .safety-title{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    font-size: 23px;
    font-weight: 600;
    color: white;
  }
  .safety-text{
    margin-top: 0.5vh;
    font-weight: 600;
    color: $main-color;
    height: 50vh;
    font-size: 13px;
    text-align:center;
  }
}



// FIXED BTN TO RETURN TO THE INITIAL POSITION

.show-return-btn{
  background-color: $main-color;
  background-image: $arrowTop-SVG;
  background-size: contain;
  width:40px;
  height:40px;
  font-size: 30px;
  font-weight: 600;
  font: $main-font;
  position:fixed;
  left:0;
  top:30vh;
  text-transform: uppercase;
  @include boxShadow(grey);
}
