@mixin animationSideBar($value...) {
-webkit-transition: $value;
-moz-transition: $value;
-o-transition: $value;
transition: $value;
}

@mixin animationMenuBtn($value) {
  -ms-transform: rotate($value);
  -webkit-transform: rotate($value);
  -o-transform: rotate($value);
  transform: rotate($value);
}
