@import "../../modules/variables";
@import "../../modules/mixins";
@import "../../modules/mediaQueryMixins";

//SECTION 2 BREAKING DIV WITH CURVED LINE

#encourage-advantage-break{
  height: 20vh;
  background-position: center;
  background-image: $break-to-advMobile-SVG;
  background-size: cover;
}

//SECTION 2 STYLING

.encourage-class{
  height: 50vh;
}
#encourage-entry{
  // background-image: $backgroundsection2-SVG;
  background-color: $main-color;
  background-size: contain;
  background-attachment: fixed;
}
.encourage-text-cnt{
  width:100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .encourage-text{
    display: flex;
    flex-wrap: wrap;
    margin: auto auto auto 20px;
    font-size: 40px;
    font-weight: bold;
    .moving-numbersAndKm{
      border: 1px solid blue;
      width: 180px;
      height: 50px;
      display: flex;
      flex-wrap: wrap;
      @for $i from 0 through 3 {
      .moving-numbers#{$i}{
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        text-transform: lowercase;
        color:black;
        font-size: 25px+(15px*$i);
        width:120px;
        height:50px;
        @include animationText(all,0.2s,linear);
      }//moving-numbers
    }//loop for
    // .p{
    //   height:60px;
    // }
  }//end of moving-numbersAndKm

  }//encourage-text
    .encourage-text-final{
      // align-self: center;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      background-color: black;
      border-radius: 10px;
      margin-top: 30px;
      // border:3px solid black;
      padding: 5px;
      height:50px;
      text-transform: uppercase;
      font-size: 24px;
    }
}//encourage-text-cnt
