#row-1 {
  background-color: rgba(255, 255, 255, 0.9);
  display: flex;
  align-items: center;
  height: 46px;
  -webkit-box-shadow: 0px 3px 4px 0 #888888;
  -moz-box-shadow: 0px 3px 4px 0 #888888;
  -o-transform: 0px 3px 4px 0 #888888;
  box-shadow: 0px 3px 4px 0 #888888; }
  @media (min-width: 768px) {
    #row-1 {
      height: 66px; } }
  @media (min-width: 1200px) {
    #row-1 {
      height: 72px; } }
  #row-1 .menu-logo {
    height: 37px;
    width: 37px;
    margin-left: 20px;
    background-image: url("./components/images/ultraTreningLogo2.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; }
    @media (min-width: 768px) {
      #row-1 .menu-logo {
        height: 48px;
        width: 260px;
        margin-left: 20px;
        background-image: url("./components/images/ultraTreningLogo1.svg");
        background-size: contain;
        background-repeat: no-repeat; } }
    @media (min-width: 1200px) {
      #row-1 .menu-logo {
        height: 55px;
        width: 280px;
        margin-left: 30px; } }
  #row-1 .nav-btns-cont0 {
    background-color: #00ed00;
    height: 46px;
    width: 210px;
    display: flex;
    align-items: center;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    justify-content: space-between;
    position: absolute;
    right: -158px; }
    @media (min-width: 768px) {
      #row-1 .nav-btns-cont0 {
        right: 0;
        height: 56px;
        background-color: rgba(255, 255, 255, 0);
        width: 330px;
        margin-right: 20px; } }
    @media (min-width: 1200px) {
      #row-1 .nav-btns-cont0 {
        right: 0;
        height: 60px;
        background-color: rgba(255, 255, 255, 0);
        width: 390px;
        margin-right: 40px; } }
    #row-1 .nav-btns-cont0 .menu-btn0 {
      position: relative;
      height: 35px;
      width: 35px;
      margin-left: 10px;
      -ms-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      background-image: url("./components/images/menuBtn.svg");
      background-size: cover;
      background-repeat: no-repeat; }
      @media (min-width: 768px) {
        #row-1 .nav-btns-cont0 .menu-btn0 {
          display: none; } }
    #row-1 .nav-btns-cont0 .nav-btns {
      height: 30px;
      width: 70px;
      border-radius: 10%;
      margin-right: 5px;
      display: flex;
      align-items: flex-start;
      justify-content: center;
      background-color: white;
      color: black; }
      @media (min-width: 768px) {
        #row-1 .nav-btns-cont0 .nav-btns {
          background-color: rgba(0, 237, 0, 0.8);
          color: white;
          height: 50px;
          width: 150px;
          border-radius: 5%;
          margin-right: 15px; } }
      @media (min-width: 1200px) {
        #row-1 .nav-btns-cont0 .nav-btns {
          height: 54px;
          width: 180px;
          margin-right: 25px; } }
      #row-1 .nav-btns-cont0 .nav-btns p {
        margin-top: 10px;
        font-size: 10px;
        text-transform: uppercase; }
        @media (min-width: 768px) {
          #row-1 .nav-btns-cont0 .nav-btns p {
            margin-top: 13px;
            font-size: 20px;
            font-weight: bold; } }
      #row-1 .nav-btns-cont0 .nav-btns:hover {
        background-color: white;
        border: 1px solid black;
        color: black; }
        @media (min-width: 768px) {
          #row-1 .nav-btns-cont0 .nav-btns:hover {
            background-color: rgba(240, 240, 240, 0.9); } }
  #row-1 .nav-btns-cont1 {
    background-color: #00ed00;
    height: 46px;
    width: 210px;
    display: flex;
    align-items: center;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    justify-content: space-between;
    position: absolute;
    right: 0px; }
    @media (min-width: 768px) {
      #row-1 .nav-btns-cont1 {
        right: 0;
        height: 56px;
        background-color: rgba(255, 255, 255, 0);
        width: 330px;
        margin-right: 20px; } }
    @media (min-width: 1200px) {
      #row-1 .nav-btns-cont1 {
        right: 0;
        height: 60px;
        background-color: rgba(255, 255, 255, 0);
        width: 390px;
        margin-right: 40px; } }
    #row-1 .nav-btns-cont1 .menu-btn1 {
      position: relative;
      height: 35px;
      width: 35px;
      margin-left: 10px;
      -ms-transform: rotate(-90deg);
      -webkit-transform: rotate(-90deg);
      -o-transform: rotate(-90deg);
      transform: rotate(-90deg);
      background-image: url("./components/images/menuBtn.svg");
      background-size: cover;
      background-repeat: no-repeat; }
      @media (min-width: 768px) {
        #row-1 .nav-btns-cont1 .menu-btn1 {
          display: none; } }
    #row-1 .nav-btns-cont1 .nav-btns {
      height: 30px;
      width: 70px;
      border-radius: 10%;
      margin-right: 5px;
      display: flex;
      align-items: flex-start;
      justify-content: center;
      background-color: white;
      color: black; }
      @media (min-width: 768px) {
        #row-1 .nav-btns-cont1 .nav-btns {
          background-color: rgba(0, 237, 0, 0.8);
          color: white;
          height: 50px;
          width: 150px;
          border-radius: 5%;
          margin-right: 15px; } }
      @media (min-width: 1200px) {
        #row-1 .nav-btns-cont1 .nav-btns {
          height: 54px;
          width: 180px;
          margin-right: 25px; } }
      #row-1 .nav-btns-cont1 .nav-btns p {
        margin-top: 10px;
        font-size: 10px;
        text-transform: uppercase; }
        @media (min-width: 768px) {
          #row-1 .nav-btns-cont1 .nav-btns p {
            margin-top: 13px;
            font-size: 20px;
            font-weight: bold; } }
      #row-1 .nav-btns-cont1 .nav-btns:hover {
        background-color: white;
        border: 1px solid black;
        color: black; }
        @media (min-width: 768px) {
          #row-1 .nav-btns-cont1 .nav-btns:hover {
            background-color: rgba(240, 240, 240, 0.9); } }

.home-class {
  height: 100vh;
  background-image: url("./components/images/bridge.jpg");
  background-size: cover;
  background-position: center; }

.welcome-text-cnt {
  display: flex;
  flex-direction: column; }
  .welcome-text-cnt .welcome-text {
    width: 100%;
    margin: 26vh auto auto auto;
    font-weight: bold; }
    .welcome-text-cnt .welcome-text .welcome-text-top {
      margin: auto auto auto 20px;
      font-size: 5vh;
      font-weight: bold;
      color: white;
      background-color: rgba(0, 237, 0, 0.75);
      border-radius: 10px;
      padding: 15px; }
      @media (min-width: 768px) {
        .welcome-text-cnt .welcome-text .welcome-text-top {
          font-size: 6vh; } }
      @media (min-width: 1200px) {
        .welcome-text-cnt .welcome-text .welcome-text-top {
          font-size: 7vh; } }
    .welcome-text-cnt .welcome-text .welcome-btn {
      margin: 8vh auto auto auto;
      background-color: rgba(70, 70, 70, 0.8);
      width: 50vw;
      height: 10vh;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 10px;
      text-transform: uppercase;
      font-size: 3vh;
      font-weight: bold;
      font-family: "Lato", Georgia, "Times New Roman", Times, serif; }
      @media (min-width: 960px) {
        .welcome-text-cnt .welcome-text .welcome-btn {
          width: 35vw; } }
      @media (min-width: 1200px) {
        .welcome-text-cnt .welcome-text .welcome-btn {
          width: 32vw;
          margin: 9vh auto auto auto; } }
      .welcome-text-cnt .welcome-text .welcome-btn:hover {
        background-color: rgba(100, 100, 100, 0.8); }
  .welcome-text-cnt .move-down-cnt {
    width: 100%; }
    .welcome-text-cnt .move-down-cnt .move-down-btn {
      margin: auto auto 8px auto;
      display: flex;
      justify-content: center;
      align-items: center;
      color: black;
      background-color: white;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      font-size: 30px;
      font: "Lato", Georgia, "Times New Roman", Times, serif; }
      @media (min-width: 768px) {
        .welcome-text-cnt .move-down-cnt .move-down-btn {
          margin: auto auto 60px auto;
          width: 60px;
          height: 60px; } }
      @media (min-width: 960px) {
        .welcome-text-cnt .move-down-cnt .move-down-btn {
          margin: auto auto 68px auto;
          width: 70px;
          height: 70px;
          font-size: 40px; } }

#encourage-advantage-break {
  height: 20vh;
  background-position: center;
  background-image: url("./components/images/break-to-advMobile.svg");
  background-size: cover; }

.encourage-class {
  height: 50vh; }

#encourage-entry {
  background-color: #00ed00;
  background-size: contain;
  background-attachment: fixed; }

.encourage-text-cnt {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .encourage-text-cnt .encourage-text {
    display: flex;
    flex-wrap: wrap;
    margin: auto auto auto 20px;
    font-size: 40px;
    font-weight: bold; }
    .encourage-text-cnt .encourage-text .moving-numbersAndKm {
      border: 1px solid blue;
      width: 180px;
      height: 50px;
      display: flex;
      flex-wrap: wrap; }
      .encourage-text-cnt .encourage-text .moving-numbersAndKm .moving-numbers0 {
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        text-transform: lowercase;
        color: black;
        font-size: 25px;
        width: 120px;
        height: 50px;
        -webkit-transition: all, 0.2s, linear;
        -moz-transition: all, 0.2s, linear;
        -o-transition: all, 0.2s, linear;
        transition: all, 0.2s, linear; }
      .encourage-text-cnt .encourage-text .moving-numbersAndKm .moving-numbers1 {
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        text-transform: lowercase;
        color: black;
        font-size: 40px;
        width: 120px;
        height: 50px;
        -webkit-transition: all, 0.2s, linear;
        -moz-transition: all, 0.2s, linear;
        -o-transition: all, 0.2s, linear;
        transition: all, 0.2s, linear; }
      .encourage-text-cnt .encourage-text .moving-numbersAndKm .moving-numbers2 {
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        text-transform: lowercase;
        color: black;
        font-size: 55px;
        width: 120px;
        height: 50px;
        -webkit-transition: all, 0.2s, linear;
        -moz-transition: all, 0.2s, linear;
        -o-transition: all, 0.2s, linear;
        transition: all, 0.2s, linear; }
      .encourage-text-cnt .encourage-text .moving-numbersAndKm .moving-numbers3 {
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        text-transform: lowercase;
        color: black;
        font-size: 70px;
        width: 120px;
        height: 50px;
        -webkit-transition: all, 0.2s, linear;
        -moz-transition: all, 0.2s, linear;
        -o-transition: all, 0.2s, linear;
        transition: all, 0.2s, linear; }
  .encourage-text-cnt .encourage-text-final {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: black;
    border-radius: 10px;
    margin-top: 30px;
    padding: 5px;
    height: 50px;
    text-transform: uppercase;
    font-size: 24px; }

.advantage-class {
  height: 150vh; }

.advantage-main-title {
  height: 10vh;
  width: 82vw;
  font-size: 6vh;
  display: flex;
  justify-content: center;
  align-items: center; }

.advantage-point {
  margin-top: 10px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }
  .advantage-point .advantage-pic-no1 {
    background-color: #00ed00;
    border-radius: 50%;
    margin-top: 2px;
    height: 70px;
    width: 70px;
    background-position: center;
    background-size: 40px 40px;
    background-repeat: no-repeat;
    background-image: url("./components/images/advantageCalendar.svg"); }
  .advantage-point .advantage-pic-no2 {
    background-color: #00ed00;
    border-radius: 50%;
    margin-top: 2px;
    height: 70px;
    width: 70px;
    background-position: center;
    background-size: 40px 40px;
    background-repeat: no-repeat;
    background-image: url("./components/images/topShape.svg"); }
  .advantage-point .advantage-pic-no3 {
    background-color: #00ed00;
    border-radius: 50%;
    margin-top: 2px;
    height: 70px;
    width: 70px;
    background-position: center;
    background-size: 40px 40px;
    background-repeat: no-repeat;
    background-image: url("./components/images/diagram.svg"); }
  .advantage-point .advantage-pic-no4 {
    background-color: #00ed00;
    border-radius: 50%;
    margin-top: 2px;
    height: 70px;
    width: 70px;
    background-position: center;
    background-size: 40px 40px;
    background-repeat: no-repeat;
    background-image: url("./components/images/page.svg"); }
  .advantage-point .advantage-pic-no5 {
    background-color: #00ed00;
    border-radius: 50%;
    margin-top: 2px;
    height: 70px;
    width: 70px;
    background-position: center;
    background-size: 40px 40px;
    background-repeat: no-repeat;
    background-image: url("./components/images/weight.svg"); }
  .advantage-point .advantage-pic-no6 {
    background-color: #00ed00;
    border-radius: 50%;
    margin-top: 2px;
    height: 70px;
    width: 70px;
    background-position: center;
    background-size: 40px 40px;
    background-repeat: no-repeat;
    background-image: url("./components/images/exerciseType.svg"); }
  .advantage-point .advantage-pic-no7 {
    background-color: #00ed00;
    border-radius: 50%;
    margin-top: 2px;
    height: 70px;
    width: 70px;
    background-position: center;
    background-size: 40px 40px;
    background-repeat: no-repeat;
    background-image: url("./components/images/leisureTime.svg"); }
  .advantage-point .advantage-pic-no8 {
    background-color: #00ed00;
    border-radius: 50%;
    margin-top: 2px;
    height: 70px;
    width: 70px;
    background-position: center;
    background-size: 40px 40px;
    background-repeat: no-repeat;
    background-image: url("./components/images/periods.svg"); }
  .advantage-point .advantage-title {
    margin-left: 7px;
    width: 63vw;
    font-size: 5vh;
    font-weight: bold;
    font-style: "Lato", Georgia, "Times New Roman", Times, serif; }
    .advantage-point .advantage-title .advantage-text {
      font-size: 12px;
      font-style: "Lato", Georgia, "Times New Roman", Times, serif;
      font-weight: bold; }

#welcome-encourage-break {
  margin-top: -3px;
  margin-bottom: -3px;
  height: 8vh;
  background-image: url("./components/images/break-to-encoMobile.svg");
  background-size: cover;
  background-size: cover; }

#advantage-chain-break {
  height: 2vh;
  background: repeating-linear-gradient(90deg, #00ed00, #00ed00 30px, #000 30px, #000 90px);
  background: -webkit-linear-gradient(90deg, #00ed00, #00ed00 30px, #000 30px, #000 90px);
  background: -o-linear-gradient(90deg, #00ed00, #00ed00 30px, #000 30px, #000 90px);
  background: -moz-linear-gradient(90deg, #00ed00, #00ed00 30px, #000 30px, #000 90px); }

.safety-footer-break {
  height: 6vh;
  background: repeating-linear-gradient(45deg, #00ed00, #00ed00 10px, #ffffff 10px, #ffffff 20px);
  background: -webkit-linear-gradient(45deg, #00ed00, #00ed00 10px, #ffffff 10px, #ffffff 20px);
  background: -o-linear-gradient(45deg, #00ed00, #00ed00 10px, #ffffff 10px, #ffffff 20px);
  background: -moz-linear-gradient(45deg, #00ed00, #00ed00 10px, #ffffff 10px, #ffffff 20px); }

.chain-class {
  background-attachment: fixed;
  background-color: rgba(230, 230, 230, 0.8);
  background-image: url("./components/images/backgroundMain1.svg"); }

#chain-title {
  background-color: #00ed00;
  height: 10vh;
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase; }

.chain-cnt {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; }
  .chain-cnt .chain-all-links {
    width: 160px;
    height: 160px;
    background-color: rgba(0, 237, 0, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50%; }
    .chain-cnt .chain-all-links .chain-link-no {
      font-weight: bold;
      color: white;
      font-size: 70px; }
    .chain-cnt .chain-all-links .chain-link-texts1 {
      font-size: 20px;
      font-weight: bold;
      text-align: center; }
    .chain-cnt .chain-all-links .chain-link-texts {
      margin-bottom: 20px;
      text-align: center;
      font-weight: bold;
      font-size: 22px; }
  .chain-cnt .link {
    height: 4vh;
    width: 100%; }

.safety-cnt {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-transform: uppercase; }
  .safety-cnt .safety-title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    font-size: 23px;
    font-weight: 600; }
  .safety-cnt .safety-text {
    margin-top: 8px;
    font-weight: 600;
    color: #00ed00;
    font-size: 13px;
    text-align: center;
    padding: 5px;
    margin-bottom: 5px; }

.show-return-btn {
  background-color: #00ed00;
  background-image: url("./components/images/arrowTop.svg");
  background-size: contain;
  width: 40px;
  height: 40px;
  font-size: 30px;
  font-weight: 600;
  font: "Lato", Georgia, "Times New Roman", Times, serif;
  position: fixed;
  left: 0;
  top: 30vh;
  text-transform: uppercase;
  -webkit-box-shadow: 0px 3px 4px 0 grey;
  -moz-box-shadow: 0px 3px 4px 0 grey;
  -o-transform: 0px 3px 4px 0 grey;
  box-shadow: 0px 3px 4px 0 grey; }

.footer-container {
  background-color: black;
  height: 180px;
  display: flex;
  flex-wrap: wrap; }
  .footer-container .logo-white {
    background-image: url("./components/images/ultraTreningLogo1White.svg");
    background-size: 320px 120px;
    background-position: center;
    background-repeat: no-repeat;
    height: 140px;
    width: 340px; }
  .footer-container .copy-rights {
    font-size: 15px;
    color: white;
    height: 50px;
    width: 120px; }

.container {
  width: 100%;
  height: 100%;
  margin: 0 auto; }
  .container [class*="col-"] {
    min-height: 1px;
    width: 100%;
    height: 100%; }
  .container .col-1 {
    width: 8.33333%;
    min-height: 1px; }
  .container .col-2 {
    width: 16.66667%;
    min-height: 1px; }
  .container .col-3 {
    width: 25%;
    min-height: 1px; }
  .container .col-4 {
    width: 33.33333%;
    min-height: 1px; }
  .container .col-5 {
    width: 41.66667%;
    min-height: 1px; }
  .container .col-6 {
    width: 50%;
    min-height: 1px; }
  .container .col-7 {
    width: 58.33333%;
    min-height: 1px; }
  .container .col-8 {
    width: 66.66667%;
    min-height: 1px; }
  .container .col-9 {
    width: 75%;
    min-height: 1px; }
  .container .col-10 {
    width: 83.33333%;
    min-height: 1px; }
  .container .col-11 {
    width: 91.66667%;
    min-height: 1px; }
  .container .col-12 {
    width: 100%;
    min-height: 1px; }
  .container .row {
    display: flex;
    flex-wrap: wrap; }

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Lato", Georgia, "Times New Roman", Times, serif; }
