#row-1 {
  background-color: white;
  display: flex;
  align-items: center;
  height: 66px;
  -webkit-box-shadow: 0px 3px 4px 0 #888888;
  -moz-box-shadow: 0px 3px 4px 0 #888888;
  -o-transform: 0px 3px 4px 0 #888888;
  box-shadow: 0px 3px 4px 0 #888888; }
  #row-1 .menu-logo {
    height: 50px;
    width: 50px;
    margin-left: 20px;
    justify-content: flex-start;
    background-image: url("./components/images/ultraTreningLogo2.svg");
    background-size: contain;
    background-repeat: no-repeat; }
  #row-1 .nav-btns-cont0 {
    height: 66px;
    display: flex;
    align-items: center;
    position: absolute;
    right: -145px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease; }
    #row-1 .nav-btns-cont0 .menu-btn0 {
      height: 55px;
      width: 55px;
      margin-left: 10px;
      -ms-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      background-image: url("./components/images/menuBtn.svg");
      background-size: contain;
      background-repeat: no-repeat; }
    #row-1 .nav-btns-cont0 .nav-btns {
      height: 60px;
      width: 60px;
      border-radius: 50%;
      margin-left: 20px; }
      #row-1 .nav-btns-cont0 .nav-btns p {
        margin-top: 13px;
        font-size: 14px;
        font-weight: bold;
        text-transform: uppercase;
        text-align: center;
        vertical-align: middle; }
    #row-1 .nav-btns-cont0 .nav-btn1-colr {
      background-color: #00ed00;
      border: 1px solid white;
      color: white; }
      #row-1 .nav-btns-cont0 .nav-btn1-colr:hover {
        background-color: black;
        border: 3px solid #00ed00;
        color: #00ed00;
        font-family: Georgia, "Times New Roman", Times, serif; }
    #row-1 .nav-btns-cont0 .nav-btn2-colr {
      background-color: white;
      border: 2px solid #00ed00;
      color: #00ed00; }
      #row-1 .nav-btns-cont0 .nav-btn2-colr:hover {
        background-color: black;
        border: 3px solid #00ed00;
        color: white; }
  #row-1 .nav-btns-cont1 {
    height: 66px;
    display: flex;
    align-items: center;
    position: absolute;
    right: 0px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease; }
    #row-1 .nav-btns-cont1 .menu-btn1 {
      height: 55px;
      width: 55px;
      margin-left: 10px;
      -ms-transform: rotate(-90deg);
      -webkit-transform: rotate(-90deg);
      -o-transform: rotate(-90deg);
      transform: rotate(-90deg);
      background-image: url("./components/images/menuBtn.svg");
      background-size: contain;
      background-repeat: no-repeat; }
    #row-1 .nav-btns-cont1 .nav-btns {
      height: 60px;
      width: 60px;
      border-radius: 50%;
      margin-left: 20px; }
      #row-1 .nav-btns-cont1 .nav-btns p {
        margin-top: 13px;
        font-size: 14px;
        font-weight: bold;
        text-transform: uppercase;
        text-align: center;
        vertical-align: middle; }
    #row-1 .nav-btns-cont1 .nav-btn1-colr {
      background-color: #00ed00;
      border: 1px solid white;
      color: white; }
      #row-1 .nav-btns-cont1 .nav-btn1-colr:hover {
        background-color: black;
        border: 3px solid #00ed00;
        color: #00ed00;
        font-family: Georgia, "Times New Roman", Times, serif; }
    #row-1 .nav-btns-cont1 .nav-btn2-colr {
      background-color: white;
      border: 2px solid #00ed00;
      color: #00ed00; }
      #row-1 .nav-btns-cont1 .nav-btn2-colr:hover {
        background-color: black;
        border: 3px solid #00ed00;
        color: white; }

.home-class {
  height: 100vh;
  background-image: url("./components/images/backgroundMain2.svg");
  background-color: black;
  background-size: contain; }

.welcome-text-cnt {
  display: flex;
  flex-direction: column; }
  .welcome-text-cnt .welcome-text {
    width: 100%;
    margin: 140px auto auto auto; }
    .welcome-text-cnt .welcome-text p {
      margin: auto auto auto 20px;
      font-size: 38px;
      font-weight: bold;
      font: Georgia, "Times New Roman", Times, serif;
      color: white; }
    .welcome-text-cnt .welcome-text .welcome-btn {
      margin: 60px auto auto auto;
      background-color: #00ed00;
      width: 200px;
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 10px;
      text-transform: uppercase;
      font-size: 18px;
      font-weight: bold; }
      .welcome-text-cnt .welcome-text .welcome-btn:hover {
        background-color: #00d700; }
  .welcome-text-cnt .move-down-cnt {
    width: 100%; }
    .welcome-text-cnt .move-down-cnt .move-down-btn {
      margin: 0px auto 8px auto;
      display: flex;
      justify-content: center;
      align-items: center;
      color: black;
      background-color: yellow;
      width: 50px;
      height: 50px;
      border-radius: 30px;
      font-size: 30px;
      font: Georgia, "Times New Roman", Times, serif; }

#welcome-encourage-break {
  margin-top: -3px;
  height: 10vh;
  background-image: url("./components/images/break-to-encoMobile.svg");
  background-size: cover; }

#encourage-advantage-break {
  margin-bottom: -3px;
  height: 10vh;
  background-position: center;
  background-image: url("./components/images/break-to-advMobile.svg");
  background-size: cover; }

.encourage-class {
  height: 60vh; }

#encourage-entry {
  background-image: url("./components/images/backgroundsection2.svg");
  background-color: white;
  background-size: contain;
  background-attachment: fixed; }

.encourage-text-cnt {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .encourage-text-cnt .encourage-text {
    display: flex;
    flex-wrap: wrap;
    margin: auto auto auto 20px;
    font-size: 30px;
    font-weight: bold;
    font: Georgia, "Times New Roman", Times, serif; }
    .encourage-text-cnt .encourage-text .moving-numbers0 {
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: bold;
      text-transform: lowercase;
      color: #00ed00;
      font-size: 25px;
      width: 90px;
      height: 50px;
      -webkit-transition: all, 0.2s, linear;
      -moz-transition: all, 0.2s, linear;
      -o-transition: all, 0.2s, linear;
      transition: all, 0.2s, linear; }
    .encourage-text-cnt .encourage-text .moving-numbers1 {
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: bold;
      text-transform: lowercase;
      color: #00ed00;
      font-size: 35px;
      width: 90px;
      height: 50px;
      -webkit-transition: all, 0.2s, linear;
      -moz-transition: all, 0.2s, linear;
      -o-transition: all, 0.2s, linear;
      transition: all, 0.2s, linear; }
    .encourage-text-cnt .encourage-text .moving-numbers2 {
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: bold;
      text-transform: lowercase;
      color: #00ed00;
      font-size: 45px;
      width: 90px;
      height: 50px;
      -webkit-transition: all, 0.2s, linear;
      -moz-transition: all, 0.2s, linear;
      -o-transition: all, 0.2s, linear;
      transition: all, 0.2s, linear; }
    .encourage-text-cnt .encourage-text .moving-numbers3 {
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: bold;
      text-transform: lowercase;
      color: #00ed00;
      font-size: 55px;
      width: 90px;
      height: 50px;
      -webkit-transition: all, 0.2s, linear;
      -moz-transition: all, 0.2s, linear;
      -o-transition: all, 0.2s, linear;
      transition: all, 0.2s, linear; }
    .encourage-text-cnt .encourage-text .encourage-text-psc {
      margin: auto auto auto 1px;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 50px; }
    .encourage-text-cnt .encourage-text .encourage-text-final {
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      background-color: #00ed00;
      border-radius: 10px;
      margin-top: 30px;
      padding: 5px;
      height: 50px;
      text-transform: uppercase;
      font-size: 24px; }

.advantage-class {
  height: 120vh;
  background-image: url("./components/images/backgroundMain1.svg");
  background-color: #00ed00;
  background-size: contain; }

.advantage-cnt {
  border: 1px solid blue;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }
  .advantage-cnt .advantage-title {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-top: 15px;
    border: 4px solid white;
    height: 40px;
    width: 96%;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    font-style: Georgia, "Times New Roman", Times, serif;
    background-color: black; }
  .advantage-cnt .advantage-text {
    border: 1px solid red;
    margin-bottom: 25px; }
    .advantage-cnt .advantage-text .advantage-point {
      border: 1px solid orange;
      height: 66px;
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center; }
      .advantage-cnt .advantage-text .advantage-point .advantage-text-no {
        display: flex;
        justify-content: center;
        align-items: center;
        color: black;
        background-color: white;
        border-radius: 20px;
        margin-top: 15px;
        border: 3px solid black;
        padding: 5px;
        height: 40px;
        width: 40px;
        font-size: 30px;
        font-style: Georgia, "Times New Roman", Times, serif; }
      .advantage-cnt .advantage-text .advantage-point .advantage-text {
        display: flex;
        justify-content: center;
        align-items: center;
        color: black;
        background-color: white;
        border-radius: 10px;
        margin-top: 15px;
        margin-left: 4px;
        border: 3px solid black;
        padding: 5px;
        height: 40px;
        width: 200px;
        font-size: 16px;
        font-style: Georgia, "Times New Roman", Times, serif;
        font-weight: bold;
        text-transform: uppercase; }

#advantage-chain-break {
  height: 6vh;
  background: repeating-linear-gradient(-45deg, #00ed00, #00ed00 10px, #000 10px, #000 20px);
  background: -webkit-linear-gradient(-45deg, #00ed00, #00ed00 10px, #000 10px, #000 20px);
  background: -o-linear-gradient(-45deg, #00ed00, #00ed00 10px, #000 10px, #000 20px);
  background: -moz-linear-gradient(-45deg, #00ed00, #00ed00 10px, #000 10px, #000 20px); }

#safety-footer-break {
  height: 6vh;
  background: repeating-linear-gradient(45deg, #00ed00, #00ed00 10px, #ffffff 10px, #ffffff 20px);
  background: -webkit-linear-gradient(45deg, #00ed00, #00ed00 10px, #ffffff 10px, #ffffff 20px);
  background: -o-linear-gradient(45deg, #00ed00, #00ed00 10px, #ffffff 10px, #ffffff 20px);
  background: -moz-linear-gradient(45deg, #00ed00, #00ed00 10px, #ffffff 10px, #ffffff 20px); }

.chain-class {
  background-color: white; }

#chain-title {
  background-color: black;
  color: white;
  height: 15vw;
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase; }

.chain-cnt {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  border: 1px solid green; }
  .chain-cnt .chain-all-links {
    font-weight: 600;
    color: black;
    width: 50vh;
    height: 50vh;
    font-size: 16px;
    background-color: black;
    border: 1px solid red;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 175px; }
    .chain-cnt .chain-all-links .chain-link-titles {
      margin-top: 75px;
      margin-bottom: 0px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      background-color: #00ed00;
      font-weight: 600;
      color: white;
      border-radius: 40px;
      height: 9vh;
      width: 42vh;
      font-size: 24px; }
    .chain-cnt .chain-all-links .chain-link-texts {
      margin-bottom: 75px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 600;
      color: black;
      font-size: 2.2vh;
      text-align: center;
      width: 42vh;
      border-radius: 40px;
      background-color: white; }
  .chain-cnt .link {
    height: 12vh;
    width: 100%;
    background-image: url("./components/images/roadBelt.svg");
    border: 1px solid red;
    background-position: center; }

.safety-class {
  height: 70vh;
  background-color: white; }

.safety-cnt {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  border: 1px solid green; }
  .safety-cnt .safety-title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    font-size: 23px;
    font-weight: 600;
    color: black;
    border: 1px solid red; }
  .safety-cnt .safety-text {
    font-weight: 600;
    color: black;
    height: 50vh;
    height: 50vh;
    font-size: 16px;
    border: 1px solid red;
    text-align: justify; }

.show-return-btn {
  background-color: #00ed00;
  background-image: url("./components/images/arrowTop.svg");
  background-size: contain;
  width: 40px;
  height: 40px;
  font-size: 30px;
  font-weight: 600;
  font: Georgia, "Times New Roman", Times, serif;
  position: fixed;
  left: 0;
  top: 30vh;
  text-transform: uppercase;
  -webkit-box-shadow: 0px 3px 4px 0 grey;
  -moz-box-shadow: 0px 3px 4px 0 grey;
  -o-transform: 0px 3px 4px 0 grey;
  box-shadow: 0px 3px 4px 0 grey; }

.container {
  width: 100%;
  height: 100%;
  margin: 0 auto; }
  .container [class*="col-"] {
    min-height: 1px;
    width: 100%;
    height: 100%; }
  .container .col-1 {
    width: 8.33333%;
    min-height: 1px; }
  .container .col-2 {
    width: 16.66667%;
    min-height: 1px; }
  .container .col-3 {
    width: 25%;
    min-height: 1px; }
  .container .col-4 {
    width: 33.33333%;
    min-height: 1px; }
  .container .col-5 {
    width: 41.66667%;
    min-height: 1px; }
  .container .col-6 {
    width: 50%;
    min-height: 1px; }
  .container .col-7 {
    width: 58.33333%;
    min-height: 1px; }
  .container .col-8 {
    width: 66.66667%;
    min-height: 1px; }
  .container .col-9 {
    width: 75%;
    min-height: 1px; }
  .container .col-10 {
    width: 83.33333%;
    min-height: 1px; }
  .container .col-11 {
    width: 91.66667%;
    min-height: 1px; }
  .container .col-12 {
    width: 100%;
    min-height: 1px; }
  .container .row {
    display: flex;
    flex-wrap: wrap; }

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box; }
